[submodule "lib/QFindDialogs"]
	path = lib/QFindDialogs/QFindDialogs
	url = https://github.com/teamYetZio/QFindDialogs
[submodule "lib/QSimpleDialog"]
	path = lib/QSimpleDialog
	url = https://github.com/ultravires/QSimpleUpdater.git
[submodule "lib/nbt-cpp"]
	path = lib/nbt/nbt-cpp
	url = git@github.com:handtruth/nbt-cpp.git
[submodule "lib/json"]
	path = lib/json/json
	url = git@github.com:nlohmann/json.git
[submodule "lib/lru-cache"]
	path = lib/lru-cache/lru-cache
	url = git@github.com:goldsborough/lru-cache.git
[submodule "lib/QSimpleUpdater"]
	path = lib/QSimpleUpdater
	url = https://github.com/ultravires/QSimpleUpdater.git
[submodule "lib/miniz-cpp"]
	path = lib/miniz/miniz-cpp
	url = https://github.com/vishal-ahirwar/miniz-cpp.git
[submodule "resource/minecraft/info/1.15/summary"]
	path = resource/minecraft/info/1.15/summary
	url = https://github.com/misode/mcmeta.git
[submodule "resource/minecraft/info/1.15/registries"]
	path = resource/minecraft/info/1.15/registries
	url = https://github.com/misode/mcmeta.git
[submodule "resource/minecraft/info/1.16/summary"]
	path = resource/minecraft/info/1.16/summary
	url = https://github.com/misode/mcmeta.git
[submodule "resource/minecraft/info/1.16/registries"]
	path = resource/minecraft/info/1.16/registries
	url = https://github.com/misode/mcmeta.git
[submodule "resource/minecraft/info/1.17/summary"]
	path = resource/minecraft/info/1.17/summary
	url = https://github.com/misode/mcmeta.git
[submodule "resource/minecraft/info/1.17/registries"]
	path = resource/minecraft/info/1.17/registries
	url = https://github.com/misode/mcmeta.git
[submodule "resource/minecraft/info/1.18/summary"]
	path = resource/minecraft/info/1.18/summary
	url = https://github.com/misode/mcmeta.git
[submodule "resource/minecraft/info/1.18/registries"]
	path = resource/minecraft/info/1.18/registries
	url = https://github.com/misode/mcmeta.git
[submodule "resource/app/fonts/Monocraft"]
	path = resource/app/fonts/Monocraft
	url = https://github.com/IdreesInc/Monocraft.git
[submodule "resource/minecraft/info/1.18.2/summary"]
	path = resource/minecraft/info/1.18.2/summary
	url = https://github.com/misode/mcmeta.git
[submodule "resource/minecraft/info/1.18.2/registries"]
	path = resource/minecraft/info/1.18.2/registries
	url = https://github.com/misode/mcmeta.git
