[Desktop Entry]
Categories=Development;Qt;
Comment=Minecraft datapack editor
Exec=usr/bin/MCDatapacker
GenericName=MCDatapacker
Icon=mcdatapacker
Name=MCDatapacker
StartupNotify=true
Terminal=false
Type=Application
X-AppImage-Version=0.8.0
